// -------------------------
//  COLORS
//--------------------------
$lightred: #f53855;
$red: #f53838;
$darkblue: #0b132a;
$lightblue: #4f5665;

// -------------------------
//  FONTS
//--------------------------
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
$primary-font: "Rubik", sans-serif;

// -------------------------
//  IMAGE PATH
//--------------------------
$image-path: "../../img/";
