.container {
  max-width: 1140px;
  display: flex;
  &-header {
    width: 50%;
  }

  & img {
    width: 100%;
  }
}

.containerSwiper {
  max-width: 1140px;
  padding: 38px 0;
  margin: 120px auto 0;
}

@include breakpoint(tablet-max) {
  .container {
    flex-direction: column;
    align-items: center;
    &-header {
      width: auto;
      align-items: center;
      row-gap: 38px;
    }
    &-img {
      max-width: 100%;
    }
    &Swiper {
      height: 178px;
      padding: 42px 0;
      margin-top: 94px;
    }
  }
}
