.container {
  max-width: 1140px;
  display: flex;
  &-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    row-gap: 20px;
  }

  & img {
    width: 100%;
  }
}

@include breakpoint(tablet-max) {
  .container {
    flex-direction: column;
    align-items: center;
    &-header {
      width: auto;
      align-items: center;
      row-gap: 38px;
    }
    &-img {
      max-width: 100%;
    }
  }
}
