.locations {
  margin-bottom: 94px;
  & .container-header .textcontent {
    margin-top: 20px;
    margin-bottom: 55px;
  }
}

@include breakpoint(tablet-max) {
  .locations {
    .container-header .textcontent {
      margin-bottom: 45px;
    }
  }
}
