.textcontent {
  color: $lightblue;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  &-extrabig {
    font-size: 25px;
    color: $lightblue;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
  }
  &-big {
    font-size: 20px;
    color: $lightblue;
    font-weight: 400;
  }
  &-small {
    color: $lightblue;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
  }
  &-highlight {
    font-weight: 500;
  }
  &-list {
    position: relative;
  }
  &-itemlist {
    margin-left: 30px;
    margin-bottom: 15px;
  }
  &-itemlist::before {
    position: absolute;
    left: 0;
    content: url("../../src/img/checked.png");
    padding-top: 3px;
  }
  &.darktext {
    color: $darkblue;
  }
}

@include breakpoint(tablet-max) {
  .turnhighlight {
    color: $black;
  }

  .turncentered {
    text-align: center;
  }
}
