.textcontent {
  color: $lightblue;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  &-big {
    font-size: 20px;
    color: $lightblue;
    font-weight: 400;
  }
  &-highlight {
    font-weight: 500;
  }
  &-itemlist {
    padding-left: 20px;
  }
  &-itemlist::before {
    content: url("../../img/checked.png");
  }
}

@include breakpoint(tablet-max) {
  .turnhighlight {
    color: $black;
  }

  .turncentered {
    text-align: center;
  }
}
